/*RESETEO DE ESTILOS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* otra forma de usar smooth scroll
html {
    scroll-behavior: smooth;
}*/

/*ESTILOS GENERALES*/
body {
    font-family: "Roboto", sans-serif;
    background-color: #000;
    color: white; 
}

.margen-horizontal {
    margin-left: 10%;
    margin-right: 10%;
}

/*ESTILOS DE LA BARRA DE NAVEGACIÓN*/

.logo-nav {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.navbar {
    background-color: transparent;
    position: fixed; /* Fija la navbar en la parte superior */
    z-index: 10; /* navbar encima del carousel */
    width: -webkit-fill-available;
  
}

.navbar:hover {
    background-color: #0000009d;
}

.navbar-brand{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;   
}

.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active{
    color: blue;
}

.nav-link{
    color: #fff;
    font-size: 1rem; 

}

.nav-link:hover, .nav-link:focus, .nav-link:active{
    color: blue;
}

.navbar-toggler:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #fff;
  }
  
.navbar-toggler:hover {
color: #fff;
box-shadow: 0 0 5px #fff;
text-shadow: 0 0 5px #fff;
}

/* Estilos del Carousel */
.carousel {
    margin: 0!important; /* Elimina los márgenes para el carousel */
    padding: 0; /* Elimina el padding para el carousel */
    height: 80vh; /* Altura del viewport */
    width: 100vw;  /* Ancho del viewport */
}

.carousel-inner, .carousel-item, .carousel-item img {
    height: 100%;
    width: 100%;
}

.carousel-item img {
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}
/* Estilos Section Nosotros */
.titulos {
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.icon-nosotros {
    background-color: #0dcaf0;
    text-align: center;
    font-size: 1.5rem;
}

.texto-espaciado {
    font-weight: lighter;
}

.container-secciones {
    margin-left: 10%;
    margin-right: 10%;
}
.icon-montain-movil
{
    display: none;
}

.icon-montain-desktop {
    display: block;
}
/* Estilos Section Destacados */
.flex-container{
    display: flex;
    justify-content: center;
}
.card{
    width: 20rem;
    margin: auto;
    background-color: #0dcaf0;
    color: #fff;}

.card-title, .card-text{
    font-weight: lighter;
}
.card-img-top {
    height: 10rem;
    object-fit: cover;
    border: 0.2px solid #fff;

}
/* Estilos Section Contacto */

.btn-color {
    background-color: #0dcaf0;
    color:#fff;
}

.btn-color:hover {
    background-color: #045e70;
}
/* Estilos Footer*/
.footer {
    background-color: #0dcaf0;
    text-align: center;
    padding: 1rem; 
}
.footer a{
    color: #fff;
    text-decoration: none; 
}

.icon-footer {
    display: flex;
    justify-content: center;
}

/* Breakpoint para tablet (768px a 1024px) */
@media (max-width: 1024px) {
    .icon-montain-desktop {
        display: none;
    }
    .icon-montain-movil
    {
        display: block;
    }
}

/* Breakpoint para móvil (menor a 768px) */
@media (max-width: 768px) {
    .icon-montain-desktop {
        display: none;
    }
    .icon-montain-movil
    {
        display: block;
    }
    .btn-color {
        width: 100%;
    }
}

/* Breakpoint para móvil pequeño (menor o igual a 375px) */
@media (max-width: 375px) {
    .icon-montain-desktop {
        display: none;
    }
    .icon-montain-movil
    {
        display: block;
    }
    .btn-color {
        width: 100%;
    }
}